version: '3.7'

services:
    application:
        build:
            args:
                - VARIANT=dev-6.0
                # - NODE_VERSION=lts/*
                # - INSTALL_AZURE_CLI=true
            context: .
        volumes:
            - ./src:/workspace:delegated
            - ./.devcontainer/init.ps1:/opt/init.ps1:cached
        env_file:
            - .env
        depends_on:
            - database
        command: >
            bash -c "pwsh /opt/init.ps1 && sleep infinity"

    database:
        image: mcr.microsoft.com/mssql/server:2019-latest
        env_file:
            - .env
        environment:
            - ACCEPT_EULA=Y
        ports:
            - 7610:1433